# Projet final

In [1]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
from openpyxl import load_workbook
import datetime
import time

In [2]:
import xlwings

def xlsx_broken(file):
    excel_app = xlwings.App(visible=False)
    excel_book = excel_app.books.open(file)
    excel_book.save()
    excel_book.close()
    excel_app.quit()
    return

In [3]:
def DMS(a):
    x = round(int(a[0])+int(a[1])*1/60+int(a[2])*1/3600,4)
    return x

## Acquisition et chargement des données (3 points)

In [4]:
url = 'https://www.vendeeglobe.org/fr/classement/20201109_110000'
r = requests.get(url)
content = r.content.decode('UTF-8')
soup = BeautifulSoup(content)

In [5]:
dates = soup.find('select').text
dates = dates.replace('-', '')
dates = dates.replace(':', '')
dates = re.findall('\d+', dates)
years, hours = dates[::2], dates[1::2]

In [6]:
df = pd.DataFrame()
df['years'] = str(years)
df['hours'] = str(hours)
df.sort_values(['years', 'hours'])
df['links'] = 'https://www.vendeeglobe.org/download-race-data/vendeeglobe_'+df['years']+'_'+df['hours']+'.xlsx'

In [ ]:
# Code utilisé pour downloader l'ensemble des classements du Vendée Globe 2021

#for i in range(len(df)):
#    filename = 'vendeeglobe_'+df['years'][i]+'_'+df['hours'][i]+'.xlsx'
#    url = df['links'][i]
#    r = requests.get(url)
#    open(filename, 'wb').write(r.content)
#    file = 'vendeeglobe_20201109_110000.xlsx'
#    xlsx_broken(filename)

In [7]:
df = pd.read_excel('/Users/pauldm/Documents/TELECOM_Paris/Cours/INFMDI721_Kit Big Data/Projet_final/excels/20201108_140000.xlsx',
                   index_col = 0, header = 0, skipfooter = 4, skiprows = 4 )

df['Date'] = '20201108' + ' ' + '140000'
df.dropna().head(2)
df = df.set_axis(['Rank', 'Nationality', 'Skipper',
                  'Hour fr', 'Latitude', 'Longitude',
                  'Cap30', 'Speed30', 'VMG30', 'Distance30',
                  'CapL', 'SpeedL', 'VMGL', 'DistanceL',
                  'Cap24h', 'Speed24h', 'VMG24h', 'Distance24h',
                  'DTF', 'DTL', 'Timestamp'], axis=1)

In [238]:
#dic = {'Rank' : int, 'Nationality': str, 'Skipper': str,
#                  'Hour fr': str, 'Latitude': str, 'Longitude': str,
#                  'Cap30', 'Speed30', 'VMG30', 'Distance30',
#                  'CapL', 'SpeedL', 'VMGL', 'DistanceL',
#                  'Cap24h', 'Speed24h', 'VMG24h', 'Distance24h',
#                  'DTF', 'DTL', 'Timestamp'}

In [239]:
df = df.astype(str)

In [240]:
df['Sail'] = df['Nationality'].apply(lambda x: x.split()[-1])
df['Nationality'] = df['Nationality'].apply(lambda x: x.split()[0])
df['Crew'] = df['Skipper'].apply(lambda x: x.split('\n')[-1])
df['Skipper'] = df['Skipper'].apply(lambda x: x.split('\n')[0])
df['Hour fr'] = df['Hour fr'].apply(lambda x: x.split()[0])

df['Speed30'] = df['Speed30'].apply(lambda x: x.split()[0])
df['Speed24h'] = df['Speed24h'].apply(lambda x: x.split()[0])
df['SpeedL'] = df['SpeedL'].apply(lambda x: x.split()[0])

df['VMG30'] = df['VMG30'].apply(lambda x: x.split()[0])
df['VMGL'] = df['VMGL'].apply(lambda x: x.split()[0])
df['VMG24h'] = df['VMG24h'].apply(lambda x: x.split()[0])

df['Distance30'] = df['Distance30'].apply(lambda x: x.split()[0])
df['DistanceL'] = df['DistanceL'].apply(lambda x: x.split()[0])
df['Distance24h'] = df['Distance24h'].apply(lambda x: x.split()[0])

df['DTF'] = df['DTF'].apply(lambda x: x.split()[0])
df['DTL'] = df['DTL'].apply(lambda x: x.split()[0])

df['Cap30'] = df['Cap30'].apply(lambda x: re.findall('\d+', x))
df['CapL'] = df['CapL'].apply(lambda x: re.findall('\d+', x))
df['Cap24h'] = df['Cap24h'].apply(lambda x: re.findall('\d+', x))

df['Latitude']= df['Latitude'].apply(lambda x: re.findall('\d+', x))

In [241]:
df.head(3)

,Rank,Nationality,Skipper,Hour fr,Latitude,Longitude,Cap30,Speed30,VMG30,Distance30,...,DistanceL,Cap24h,Speed24h,VMG24h,Distance24h,DTF,DTL,Timestamp,Sail,Crew
NaN,1,FRA,Louis Burton,15:30,"[46, 24, 46]",01°50.48'W,[241],17.7,17.5,0.3,...,2788.0,[201],0.3,0.3,6.1,24293.9,0.0,20201108 140000,18,Bureau Vallée 2
NaN,2,MON,Boris Herrmann,15:31,"[46, 24, 34]",01°49.82'W,[241],11.1,10.9,0.4,...,2787.9,[196],0.3,0.2,6.0,24294.2,0.4,20201108 140000,10,Seaexplorer - Yacht Club De Monaco
NaN,3,FRA,Jérémie Beyou,15:30,"[46, 24, 91]",01°49.99'W,[244],15.5,15.5,0.5,...,2788.5,[199],0.2,0.2,5.5,24294.3,0.5,20201108 140000,8,Charal

In [ ]:
df['Timestamp'] = df['Timestamp'].apply(lambda x: datetime.datetime.strptime(x, '%Y%m%d %H%M%S'))
df.set_index('Timestamp')